<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
	<servlet-name>advertisement</servlet-name>
	<servlet-class>com.versiya.servlets.AdvServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>advertisement</servlet-name>
	<url-pattern>/servlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>uploadFile</servlet-name>
	<servlet-class>com.versiya.servlets.UploadFile</servlet-class>
	</servlet>
<servlet-mapping>
	<servlet-name>uploadFile</servlet-name>
	<url-pattern>/upload</url-pattern>
	</servlet-mapping>
</web-app>
